In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

/home/tyronevb/virtual_envs/py_nltk/local/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [2]:
s = pd.Series([1,3,4, np.NaN, 6 ,8])

In [3]:
s

0    1.0
1    3.0
2    4.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range('20160825', periods=6)

In [5]:
dates

DatetimeIndex(['2016-08-25', '2016-08-26', '2016-08-27', '2016-08-28',
               '2016-08-29', '2016-08-30'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [7]:
list('ABCD')

['A', 'B', 'C', 'D']

In [8]:
df

                   A         B         C         D
2016-08-25  0.508001  0.976836 -1.135423  0.906861
2016-08-26 -0.102779  0.062193  1.070516  0.288801
2016-08-27  0.014198  0.816641 -1.574559 -1.543533
2016-08-28 -0.203641 -1.975332  0.156869 -0.315283
2016-08-29 -1.310071 -1.683666  0.665914 -0.277428
2016-08-30 -0.168314  0.476322 -0.126058 -0.447990

In [10]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20160825'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})

In [11]:
df2

     A          B    C  D      E    F
0  1.0 2016-08-25  1.0  3   test  foo
1  1.0 2016-08-25  1.0  3  train  foo
2  1.0 2016-08-25  1.0  3   test  foo
3  1.0 2016-08-25  1.0  3  train  foo

In [12]:
[3] * 4

[3, 3, 3, 3]

In [13]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [14]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [15]:
df2.A

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64